body{
	margin: 0;
}
.page{
	font: 16px "PingFang-SC-Regular", "Microsoft YaHei", sans-serif;
}
@media (min-width: 750px) {
	.page{
		width: 750px;
		margin: 0 auto;
		font-size: 32px;
	}
}

/* vue */
[v-cloak] {display: none !important;}
/* 行文字超出隐藏 */
.inaline{
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;}
.inline-x{
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient:vertical;
  /*-webkit-line-clamp:*/
}
/* 浮动布局 */
.fix:after{
	content:'';
	display: table;
	clear: both;
}
.fix{*zoom:1;}/*IE6&IE7*/
.fl{float: left;}
.fr{float: right;}
.hide{display: none;}