.page{
    position: relative;
}
.step {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}
.wrapper {
    width: 5.8rem;
    min-height: 5rem;
    max-height: 7.5rem;
    margin: 0.66rem auto 2rem;
    background: #FAFFFF;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}
.step-title {
    width: 0.6rem;
    margin: 0.36rem 0 0 0.33rem;
    padding-bottom: 0.42rem;
    font-size: 0.6875em;
    color: #000;
    border-bottom: 0.04rem solid #00CE9B;
}
.step-title span {
    font-size: 1.375em;
}
.wrapper p {
    font-size: 0.75em;
    line-height: 1;
    color: #666;
    margin: 0;
}
.wrapper a {
    font-size: 0.75em;
    line-height: 1;
    color: #27A7EB;
    text-decoration: none;
}
.wrapper .content {
    font-size: 0.8125em;
    margin: 0.7rem 0.63rem;
    line-height: 1.8;
    color: #000;
}
.choose {
    width: 5.8rem;
    margin: 0 auto;
}
.choose label {
    display: inline-block;
    width: 2.8rem;
    text-align: center;
}
.no,
.yes{
    position: relative;
}
.no input[type="radio"], .yes input[type="radio"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;right: 0;top: 0;bottom: 0;
}
.no input[type="radio"]+ i:before, .yes input[type="radio"]+ i:before {
    content:"";
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
}
.no input[type="radio"] + i:before {
    background: url(../imgs/process_ico_no.png);
    background-size: 1rem;
}
.yes input[type="radio"] + i:before {
    background: url(../imgs/process_ico_yes.png);
    background-size: 1rem;
}
.no input[type="radio"]:checked + i:before {
    background: url(../imgs/process_ico_no_selected.png);
    background-size: 1rem;
}
.yes input[type="radio"]:checked + i:before {
    background: url(../imgs/process_ico_yes_selected.png);
    background-size: 1rem;
}

.meter-window {
    min-height: 1.2rem;
    max-height: 4.25rem;
    overflow-y: scroll;
}
.meter-list .meter:last-child {
    border-bottom: none;
}
.meter {
    padding: 0.2rem 0;
    margin: 0 0.5rem;
    border-bottom: 1px solid #ddd;
    font-size: 0.9375em;
}
.meter span {
    line-height: 0.8rem;
}
.meter span.fl {
    color: #000;
}
.meter span.fr {
    color: #666;
    margin-right: 0.3rem;
}
.meter span.fr i {
    display: inline-block;
    vertical-align: middle;
    width: 0.32rem;
    height: 0.3rem;
    margin-right: 0.1rem;
    background: url(../imgs/process_ico_electricity.png);
    background-size: 0.32rem 0.3rem;
}
.meter .meter-pic {
    width: 0.8rem;
    height: 0.8rem;
    overflow: hidden;
}
.meter .meter-pic img {
    line-height: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sumbit {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00ce9b;
    color: #fff;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.9375em;
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
    transition: all .5s ease .5s;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter{
    transform: translateX(3.75rem);
    opacity: 0;
}
.slide-fade-leave-to {
    transform: translateX(-3.75rem);
    opacity: 0;
}